@import '../../../styles/foundations.scss';

.container {
  position: relative;
  height: fit-content;
  width: fit-content;

  &::before {
    content: '';

    position: absolute;

    top: 50%;
    left: 0;

    width: 0;
    height: 2px;

    background-color: $mainBlack;

    transition: width 0.4s cubic-bezier(0.4, 0.6, 0.2, 1);
  }

  // &:not(.selected):hover {
  //   &::before {
  //     width: 100%;
  //   }
  // }
}

.selected {
  &::before {
    width: 100%;
  }
}
