@import '../../../styles/foundations.scss';

.container {
  position: relative;
  height: fit-content;
  width: fit-content;

  cursor: none;

  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: 24px;
  transition: $transitionEase;
}

.selected {
  background-color: $yellow100;
}
