@import '../../styles/foundations.scss';

.container {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding-top: autoResize(140px, 180px, $landscape384, $landscape800);

  color: $secondBlack;

  h2 {
    margin-bottom: autoResize(20px, 68px, $landscape384, $landscape800);
  }
}
