@import "../../../styles/foundations.scss";
@import "../../../styles/global.scss";

.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .upblock {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $landscape1920) {
      margin-left: autoResize(64px, 260px, $landscape1200, $landscape1920);
      margin-right: autoResize(64px, 260px, $landscape1200, $landscape1920);
    }

    @media (max-width: $landscape800) {
      flex-flow: row wrap-reverse;
      text-align: center;
      margin-left: autoResize(20px, 110px, $landscape384, $landscape800);
      margin-right: autoResize(20px, 110px, $landscape384, $landscape800);
    }

    @media (max-width: $landscape384) {
      margin-left: 16px;
      margin-right: 16px;
      // margin-left: autoResize(0px, 20px, $landscape320, $landscape800);
      // margin-right: autoResize(0px, 20px, $landscape320, $landscape800);
    }

    .block {
      max-width: 1135px;
      height: auto;
    }

    .title {
      // max-width: fit-content;
      margin-right: 334px;
      margin-bottom: 60px;

      .spotlight {
        display: inline;
        font-weight: 700;
        // hyphens: none;
        white-space: nowrap;
        //<nobr> ? //flex-wrap ? //&#8209 // word-wrap :|

        border-radius: 16px;
        padding: 4px 16px;
        background-color: $bbListFocus;
        color: white;

        @media (max-width: $landscape800) {
          padding: autoResize(3px, 4px, $landscape384, $landscape800)
            autoResize(8px, 16px, $landscape384, $landscape800);
          border-radius: autoResize(8px, 16px, $landscape384, $landscape800);
        }
      }

      @media (max-width: $landscape1920) {
        margin-right: autoResize(228px, 334px, $landscape1200, $landscape1920);
        margin-bottom: autoResize(40px, 60px, $landscape1200, $landscape1920);
      }

      @media (max-width: $landscape1200) {
        margin-right: autoResize(0px, 228px, $landscape800, $landscape1200);
      }

      @media (max-width: $landscape800) {
        margin-right: 0px;
        margin-bottom: autoResize(56px, 108px, $landscape384, $landscape800);
      }
    }

    .linkButtons {
      display: flex;
      justify-content: left;

      @media (max-width: $landscape800) {
        justify-content: center;
      }
    }

    .link {
      height: 74px !important;
      width: 240px !important;
      border-radius: 20px !important;
      padding-right: 0px !important;
      padding-left: 18px !important;
      background-color: $bbListBlack !important;

      @media (max-width: $landscape800) {
        height: autoResize(40px, 74px, $landscape384, $landscape800) !important;
        width: autoResize(
          136px,
          240px,
          $landscape384,
          $landscape800
        ) !important;
        border-radius: autoResize(
          12px,
          20px,
          $landscape384,
          $landscape800
        ) !important;
        padding-left: autoResize(
          12px,
          18px,
          $landscape384,
          $landscape800
        ) !important;
      }
    }

    .link:not(:last-child) {
      margin-right: 32px !important;

      @media (max-width: $landscape800) {
        margin-right: autoResize(
          16px,
          32px,
          $landscape384,
          $landscape800
        ) !important;
      }
    }

    .link_icon {
      width: 39px !important;
      height: 39px !important;
      margin: 17px 16px 17px 0px !important;

      @media (max-width: $landscape800) {
        width: autoResize(21px, 39px, $landscape384, $landscape800) !important;
        height: autoResize(21px, 39px, $landscape384, $landscape800) !important;
        margin: autoResize(8px, 17px, $landscape384, $landscape800)
          autoResize(8px, 16px, $landscape384, $landscape800)
          autoResize(8px, 17px, $landscape384, $landscape800) 0px !important;
      }
    }

    .logo {
      width: 264px;
      height: 264px;

      @media (max-width: $landscape1920) {
        width: autoResize(244, 264, $landscape1200, $landscape1920);
        height: autoResize(244, 264, $landscape1200, $landscape1920);
      }

      @media (max-width: $landscape800) {
        margin-bottom: autoResize(44, 48, $landscape384, $landscape800);
        width: autoResize(136, 244, $landscape384, $landscape800);
        height: autoResize(136, 244, $landscape384, $landscape800);
      }
    }
  }
}
