@import '../../styles/foundations.scss';

.menu {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  margin-top: 53px;

  @media (max-width: $landscape800) {
    display: none;
  }

<<<<<<< HEAD
  :not(:last-child) {
=======
  li {
    cursor: pointer;
  }

  & > :not(:last-child) {
>>>>>>> main
    margin-right: 40px;
  }
}
