@import '../../styles/foundations.scss';
:root {
  --textShadow: 0;
}
.wrapper {
  min-height: 72px;
  display: flex;
  align-items: flex-end;

  padding-bottom: 12px;

  cursor: text;
}

.container {
  width: 100%;

  position: relative;

  background-color: transparent;

  textarea,
  span {
    color: $secondBlack;
  }

  div {
    margin-top: 10px;
    border-bottom: 2px solid $secondBlack;
  }

  textarea {
    width: 100%;
    height: 100%;

    cursor: auto;
    outline: none !important;
    resize: none;

    vertical-align: top;

    background-color: inherit;

    &:focus ~ div {
      border-bottom-color: $blue100;
    }

    &:valid ~ span,
    &:focus ~ span {
      text-shadow: var(--textShadow);
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      transform: translateX(-18%) translateY(calc(-100%)) scale(0.66);
      -webkit-transform: translateX(-18%) translateY(calc(-100%)) scale(0.66);
    }
  }

  span {
    position: absolute;

    left: 0;
    top: 0;

    pointer-events: none;

    transition: transform 0.5s ease 0.15s, text-shadow 0.5s ease 0.15s;
    -webkit-transform: transform 0.5s ease 0.15s, text-shadow 0.5s ease 0.15s;
  }
}
