@import '../../styles/foundations.scss';
:root {
  --textShadow: 0;
}
.wrapper {
  min-height: 66px;
  @media (max-width: $landscape800) {
    min-height: autoResize(50px, 66px, $landscape384, $landscape800);
  }
  display: flex;
  align-items: flex-end;

  cursor: pointer;
}

.container {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-top: 30px;
  @media (max-width: $landscape800) {
    margin-top: autoResize(22px, 30px, $landscape384, $landscape800);
  }
  background-color: transparent;

  textarea,
  span {
    color: $mainBlack;
  }

  textarea {
    width: 100%;
    height: 100%;
    padding-bottom: 8px;
    border-bottom: 2px solid $grey;
    cursor: pointer;
    outline: none !important;
    resize: none;

    vertical-align: top;

    background-color: inherit;

    &:focus {
      border-bottom-color: $mainBlack;
    }

    &:valid ~ span,
    &:focus ~ span {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      transform: translateY(-100%) scale(0.78);
      -webkit-transform: translateY(-100%) scale(0.78);
    }

    // &:valid,
    // &:focus {
    //   padding-bottom: 8px !important;
    //   transition: margin-top 0.5s ease 0.15s;
    // }
  }

  span {
    position: absolute;
    left: 0;
    top: -3px;
    color: $greySec;
    pointer-events: none;
    transform-origin: 0% 50%;
    transition: transform 0.5s ease 0.15s;
    -webkit-transform: transform 0.5s ease 0.15s;
  }
}
