@import '../../styles/foundations.scss';

.container {
  flex: 1;

  padding: 0 autoResize(44px, 160px, $landscape800, $landscapeFHD);

  @media (min-width: $landscapeFHD) {
    padding-left: 8.333%;
  }

  @media (max-width: $landscape800) {
    padding: 0 autoResize(16px, 44px, $landscape384, $landscape800);
  }

  h2 {
    margin-bottom: autoResize(44px, 68px, $landscape384, $landscape800);
  }

  .servicesSwitch {
    margin-bottom: autoResize(56px, 80px, $landscape384, $landscape800);

    @media (max-width: $landscape384) {
      margin-bottom: autoResize(44px, 56px, $landscape320, $landscape384);
    }

    h5 {
      margin-bottom: autoResize(16px, 24px, $landscape384, $landscape800);
    }

    .switch {
      display: flex;
      gap: autoResize(8px, 12px, $landscape384, $landscape800);
    }
  }

  section {
    max-width: 860px;
  }

  .outsourcing,
  .outstaffing,
  .additionalServices {
    margin-bottom: autoResize(56px, 80px, $landscape384, $landscape800);

    h5 {
      margin-bottom: autoResize(16px, 24px, $landscape384, $landscape800);
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  .outsourcing {
    h5 {
      margin-bottom: autoResize(16px, 32px, $landscape384, $landscape800);
    }

    h5 ~ div {
      margin-bottom: autoResize(56px, 64px, $landscape384, $landscape800);
    }
  }

  .outstaffing {
    h5 {
      margin-bottom: autoResize(16px, 24px, $landscape384, $landscape800);
    }

    h5 ~ div {
      margin-bottom: 32px;
    }
  }

  .aboutProject {
    margin-bottom: autoResize(56px, 68px, $landscape384, $landscape800);

    h5 {
      margin-bottom: autoResize(16px, 32px, $landscape384, $landscape800);
    }

    .personalInformation {
      display: flex;
      flex-direction: column;
      gap: 44px;
    }
  }

  .sendBtn {
    width: 270px;
    height: 56px;

    margin-bottom: 64px;

    outline: 1px solid rgba(36, 36, 36, 0.5);
    border: 1px solid rgba(36, 36, 36, 1);
    border-radius: 24px;

    color: $mainBlack;

    background-color: transparent;

    transition: $transitionEase;
    
    @media (max-width: $landscape800) {
      outline: none !important;
    }

    &:hover {
      border: 0;
      outline-color: $yellow50;
      background-color: $yellow50;
    }

    @media (max-width: $landscape420) {
      width: 100%;

      border: 0;
      outline: 1px solid rgba(252, 224, 78, 1);
      background-color: $yellow100;
    }
  }
}
