@import '../../styles/foundations.scss';
:root {
  --textShadow: 0;
}

.wrapper {
  height: 66px;
  @media (max-width: $landscape800) {
    height: autoResize(50px, 66px, $landscape384, $landscape800);
  }
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;

  & > span {
    position: absolute;
    color: $red;

    transform: translateY(100%);
    bottom: -8px;
  }
}

.error {
  border-bottom-color: $red !important;
}

.container {
  width: 100%;

  position: relative;

  background-color: transparent;

  input,
  span {
    color: $mainBlack;
  }

  div {
    border-bottom: 2px solid $grey;
  }

  input {
    width: 100%;
    background-color: inherit;
    outline: none;
    margin-bottom: 6px;

    &:focus ~ div {
      border-bottom-color: $mainBlack;
    }

    &:valid ~ span,
    &:focus ~ span {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      transform:  translateY(-100%) scale(0.78);
      -webkit-transform:  translateY(-100%) scale(0.78);
    }
  }

  span {
    position: absolute;
    left: 0;
    
    color: $greySec;
    pointer-events: none;
    bottom: 12px;
    transform-origin: 0% 50%;
    transition: transform 0.5s ease 0.15s;
    -webkit-transform: transform 0.5s ease 0.15s;
  }
}
