@import '../../styles/foundations.scss';
:root {
  --textShadow: 0;
}

.wrapper {
  height: 72px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;

  & > span {
    position: absolute;
    color: $red100;

    transform: translateY(100%);
    bottom: -8px;
  }
}

.error {
  border-bottom-color: $red100 !important;
}

.container {
  width: 100%;

  position: relative;

  background-color: transparent;

  input,
  span {
    color: $secondBlack;
  }

  div {
    margin-top: 8px;
    border-bottom: 2px solid $secondBlack;
  }

  input {
    width: 100%;

    background-color: inherit;

    outline: none;

    &:focus ~ div {
      border-bottom-color: $blue100;
    }

    &:valid ~ span,
    &:focus ~ span {
      text-shadow: var(--textShadow);
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      transform: translateX(-17%) translateY(calc(-110%)) scale(0.66);
      -webkit-transform: translateX(-17%) translateY(calc(-110%)) scale(0.66);
    }
  }

  span {
    position: absolute;

    left: 0;
    top: 0;

    pointer-events: none;

    transition: transform 0.5s ease 0.15s, text-shadow 0.5s ease 0.15s;
    -webkit-transform: transform 0.5s ease 0.15s, text-shadow 0.5s ease 0.15s;
  }
}
