@import '../../styles/foundations.scss';

.wrapper {
  height: 72px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: text;

  & > span {
    position: absolute;
    color: $red100;

    transform: translateY(100%);
    bottom: -8px;
  }
}

.error {
  border-bottom-color: $red100 !important;
}

.container {
  width: 100%;

  position: relative;

  background-color: transparent;

  input,
  span {
    color: $secondBlack;
  }

  div {
    margin-top: 10px;
    border-bottom: 2px solid $secondBlack;
  }

  input {
    width: 100%;

    background-color: inherit;

    outline: none;

    &:focus ~ div {
      border-bottom-color: $blue100;
    }

    &:valid ~ span,
    &:focus ~ span {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px !important;

      transform: translateY(calc(-100% - 8px));
      -webkit-transform: translateY(calc(-100% - 8px));
    }
  }

  span {
    position: absolute;

    left: 0;
    top: 0;

    pointer-events: none;

    transition: transform 0.5s ease 0.15s, font-size 0.15s ease;
  }
}
