@import '../../styles/foundations.scss';

.menuLogo {
  position: relative;

  height: 52px;
  width: 52px;

  background: transparent;

  @media (max-width: $landscape800) {
    height: autoResize(44px, 52px, $landscape384, $landscape800) !important;
    width: autoResize(44px, 52px, $landscape384, $landscape800) !important;
  }

  svg {
    position: relative;
    height: 100%;
    width: auto;
  }
}

.menuLogo {
  display: none;

  @media (max-width: $landscape800) {
    display: block;
  }
}
