@import "../../styles/foundations.scss";

.container {
  display: none;
  position: absolute;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  overflow: hidden;
  transition: left 350ms ease-in;
  background-color: $white;

  ul {
    position: absolute;

    display: flex;
    flex-direction: column;

    margin-top: autoResize(286px, 342px, $landscape320, $landscape800);
    margin-left: autoResize(24px, 96px, $landscape320, $landscape800);
  }

  .header {
    position: absolute;
    display: flex;

    justify-content: space-between;

    width: 100%;

    margin-top: 40px;
  }

  @media (max-width: $landscape800) {
    display: block;
  }
}
