@import "../../styles/foundations.scss";

.container {
  display: none;
  position: absolute;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  overflow: hidden;
  transition: left 350ms ease-in;
  background-color: $white;

  ul {
    position: absolute;

    display: flex;
    flex-direction: column;

    margin-left: autoResize(24px, 96px, $landscape320, $landscape800);
  }

  @media (max-width: $landscape800) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
