@import '../../styles/foundations.scss';

.container {
  display: flex;
  position: absolute;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  overflow: hidden;
  transition: left 350ms ease-in;
  background-color: $white;
  overflow-y:unset;
  justify-content: center;
  @media (max-width: $landscape800) {
    height: 100vh;
  }

  ul {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: autoResize(10px, 96px, $landscape320, $landscape800);
    
    :not(:last-child) {
      margin-bottom: autoResize(40px, 64px, $landscape384, $landscape800);

      @media (max-width: $landscape384) {
        margin-bottom: autoResize(0px, 40px, $landscape320, $landscape384);
      }
    }
  }

  @media (max-width: $landscape800) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.middleBtn_wrapper {
  width: 100%;
  display: flex;
  align-self: self-start;
  justify-content: center;

  button {
    z-index: $index20;
  }

  @media (max-width: $landscape800) {
    padding: autoResize(36px, 40px, $landscape384, $landscape800)
      autoResize(24px, 44px, $landscape384, $landscape800) 0 !important;
  }

  @media (max-width: 420px) {
    align-self: self-end;
    margin-bottom: 64px;
  }
}
