@import '../../styles/foundations.scss';

.container {
  width: 100%;
  height: 100%;

  .preview {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: $mainRadius;
    border-bottom-right-radius: $mainRadius;
    margin-bottom: 148px;
    background-color: $accentYellow;
    @media (min-width: $landscape1200) {
      margin-bottom: autoResize(136px, 148px, $landscape1200);
    }
    @media (min-width: $landscape800) {
      margin-bottom: autoResize(80px, 136px, $landscape800);
    }
    @media (max-width: $landscape800) {
      margin-bottom: autoResize(68px, 80px, $landscape384);
    }

    .about_title {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_string {
        display: flex;
        max-width: 968px;

        white-space: nowrap;
        .zigzag_container {
          position: relative;
          width: min-content;
          display: flex;
          flex-direction: column;
          align-items: center;

          .zigzag {
            position: absolute;
            bottom: -10%;
            width: 100%;
          }
        }
        .underline {
          text-decoration: underline;
        }
      }

      margin-bottom: autoResize(44px, 88px);
    }
  }
  .body {
    @media (min-width: $landscape1200) {
      padding: 0 autoResize(120px, 160px, $landscape1200);
    }
    @media (min-width: $landscape800) {
      padding: 0 autoResize(44px, 120px, $landscape800);
    }

    padding: 0 autoResize(36px, 44px, $landscape384);

    .text_block {
      display: flex;
      flex-direction: column;
      max-width: 905px;
      gap: 56px;
      margin-bottom: 120px;
      @media (max-width: $landscape800) {
        margin-bottom: autoResize(36px, 120px, $landscape320, $landscape800);
      }

      @media (max-width: $landscape800) {
        gap: autoResize(32, 56, $landscape384, $landscape800);
      }

      &_title {
        color: $mainBlack;
      }

      &_description {
        color: $greySec;
      }
    }

    .principlesBlock {
      width: 100%;

      display: flex;
      gap: 144px;
      margin: autoResize(80px, 260px, $landscape384) 0;

      @media (min-width: calc($landscape1200 + 1px)) {
        max-height: 960px;
      }
      @media (max-width: $landscape800) {
        gap: autoResize(80px, 144px, $landscape384);
      }
      @media (max-width: $landscape1200) {
        flex-direction: column-reverse;
      }
      .containerImg {
        width: 100%;
        height: 960px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: $mainRadius;
        @media (max-width: calc($landscape1200 )) {
          height: fit-content;
        }

        .principImg {
          background-size: cover;

          @media (max-width: calc($landscape1200)) {
            width: 100%;
          }
          @media (min-width: calc($landscape1200)) {
            height: 100%;
          }
        }
      }
      .principles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: autoResize(56px, 124px, $landscape384);
        .principTitle {
          margin-bottom: autoResize(12px, 28px, $landscape384, $landscape800);
        }
        .princip_text_block {
          display: flex;
          flex-direction: column;
          .princip_text_title {
          }
          .princip_text_description {
            color: $greySec;
          }
        }
      }
    }
  }
}
