$accentYellow: #fce04e;
$white: #ffffff;
$greyPlate: #f1f1f1;
$grey: #d6d6d6;
$greySec: #898989;
$blackGrey: #393939;
$mainBlack: #11100e;
$halfYellow: #ffec89;

$secondBlack: #2c2f36;
$blue100: #2d5dd9;
$gray100: #d6d6d6;
$red: #d92d2d;
$neutral100: #e2e2e2;
$accent: #2d5dd9;
$timeZo: #ffffff;
$bbListSelect: #EFF3FF;
$bbListFocus: #7270df;
$bbListBlack: #191919;
$main: #2c2f36;
$textSecond: #8e98a2;
$textBody: #6b6b6b;
$yellow: #ecca19;
$textBlack: #323232;
$grey: #9c9c9c;
$mainPage: #f5f5f5;
$neutral300: #dbdbdb;
$neutral900: #212121;
$neutral700: #616161;
