$accentYellow: #FCE04E;
$white: #FFFFFF;
$greyPlate: #F1F1F1;
$grey: #D6D6D6;
$greySec: #898989;
$blackGrey: #393939;
$mainBlack: #11100E;
$halfYellow: #FFEC89;

$secondBlack: #2c2f36;
$blue100: #2d5dd9;
$gray100: #d6d6d6;
$red: #d92d2d;
$neutral100: #e2e2e2;
$accent: #2d5dd9;
$timeZo: #ffffff;
$main: #2c2f36;
$textSecond: #8e98a2;
$textBody: #6b6b6b;
$yellow: #ECCA19;
$textBlack: #323232;
$grey: #9c9c9c;
$mainPage: #F5F5F5;
$neutral300: #DBDBDB;
$neutral900: #212121;
$neutral700: #616161;
