// Size

$landscape1200: 1200px;
$landscape1133: 1133px;
$landscape1132: 1132px;
$landscape800: 800px;
$landscape384: 384px;
$landscape320: 320px;

// Border
$borderRadius: 4px;
$bigBorderRadius: 8px;

//Footer
$footerPoint: 600px;
$footerHeightLg: 148px;
$footerHeightMob: 240px;
