// Size
$landscape4k: 3840px;
$landscape3520: 3520px;
$landscape3000: 3000px;
$landscape2999: 2999px;
$landscape2720: 2720px;
$landscape1921: 1921px;
$landscapeFHD: 1920px;
$landscape1200: 1200px;
$landscape1133: 1133px;
$landscape1132: 1132px;
$landscape801: 801px;
$landscape800: 800px;
$landscape420: 420px;
$landscape384: 384px;
$landscape320: 320px;

// Projects
$maxVisibleWidth: 566.5px;

// Border
$defaultBorder: 1.5px;

// Z-INDEX
$index0: 0;
$index10: 10;
$index20: 20;

// Animation
$transitionEase: 200ms ease;
