// Size

$landscape4k: 3840px;
$landscapeFHD: 1920px;
$landscape1200: 1200px;
$landscape1133: 1133px;
$landscape1132: 1132px;
$landscape800: 800px;
$landscape420: 420px;
$landscape384: 384px;
$landscape320: 320px;

//Projects
$maxVisibleWidth: 566.5px;

// Border
$borderRadius: 4px;
$bigBorderRadius: 8px;

//Footer
$footerPoint: 600px;
$footerHeightLg: 148px;
$footerHeightMob: 240px;

//Z-INDEX
$index0: 0;
$index10: 10;
$index20: 20;
