@import './typography.scss';

$selectionColor: #fce04e;

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::selection {
  background: $selectionColor;
}

html,
body {
  height: 100%;

  position: relative;

  overflow-y: auto;
  overflow-x: hidden;
  cursor: none !important;
}

html {
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
}

#root {
  display: flex;
  flex-direction: column;

  height: 100%;
}

img {
  user-select: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  :focus {
    outline: none !important;
  }
}
input {
  cursor: none !important;
}

a {
  cursor: none !important;
}

.scrollbar-track {
  display: none !important;
}

.scrollContainer{
  width: 100vw;
}