@import './typography.scss';

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  position: relative;

  overflow-y: auto;
  overflow-x: hidden;
}

html {
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  scroll-behavior: smooth;

  background-image: url('../assets/images/background.png');
  background-repeat: repeat;
}

body {
  text-rendering: optimizeSpeed;
}

img {
  user-select: none;
}

button {
  cursor: pointer;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  list-style: none;
}
