@import 'foundations.scss';

//Links fonts

.latoSemibold2012 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: autoResize(12px, 20px, $landscape1200);
  line-height: autoResize(17px, 28px, $landscape1200);
}

.latoSemibold2028 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.latoSemibold2024 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.latoSemibold2230 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  font-size: autoResize(12px, 22px, $landscape1200) !important;
  line-height: autoResize(17px, 30px, $landscape1200) !important;
}

.latoSemibold2432 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-size: autoResize(20px, 24px, $landscape384, $landscape800) !important;
  line-height: autoResize(24px, 32px, $landscape384, $landscape800) !important;
}

.lato2432 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.lato2836 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;

  @media (max-width: $landscape800) {
    font-size: autoResize(20px, 28px, $landscape384, $landscape800) !important;
    line-height: autoResize(
      28px,
      32px,
      $landscape384,
      $landscape800
    ) !important;
  }
}

.latoSemibold2214 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  @media (max-width: $landscape800) {
    font-weight: 500;
    font-size: autoResize(14px, 22px, $landscape800, $landscape1133) !important;
    line-height: autoResize(
      17px,
      30px,
      $landscape800,
      $landscape1133
    ) !important;
  }
}

.bebasNeue72 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;

  @media (max-width: $landscape384) {
    font-size: autoResize(60px, 72px, $landscape320, $landscape384) !important;
    line-height: autoResize(
      60px,
      72px,
      $landscape320,
      $landscape384
    ) !important;
  }
}

.bebasNeue320 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 320px;
  line-height: 320px;

  font-size: autoResize(182px, 320px, $landscape1200) !important;
  line-height: autoResize(182px, 320px, $landscape1200) !important;

  @media (max-width: $landscape1133) {
    font-size: autoResize(
      148px,
      182px,
      $landscape800,
      $landscape1133
    ) !important;
    line-height: autoResize(
      148px,
      182px,
      $landscape800,
      $landscape1133
    ) !important;
  }

  @media (max-width: $landscape800) {
    font-size: autoResize(60px, 148px, $landscape320, $landscape800) !important;
    line-height: autoResize(
      60px,
      148px,
      $landscape320,
      $landscape800
    ) !important;
  }
}

.bebasNeue288 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 288px;
  line-height: 288px;
  font-size: autoResize(164px, 288px, $landscape1200) !important;
  line-height: autoResize(164px, 288px, $landscape1200) !important;

  @media (max-width: $landscape1133) {
    font-size: autoResize(
      132px,
      164px,
      $landscape800,
      $landscape1133
    ) !important;
    line-height: autoResize(
      132px,
      164px,
      $landscape800,
      $landscape1133
    ) !important;
  }

  @media (max-width: $landscape800) {
    font-size: autoResize(54px, 132px, $landscape320, $landscape800) !important;
    line-height: autoResize(
      54px,
      132px,
      $landscape320,
      $landscape800
    ) !important;
  }
}

.bebasNeue132 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 132px;
  line-height: 132px;

  @media (max-width: $landscape800) {
    font-size: autoResize(84px, 132px, $landscape384, $landscape800) !important;
    line-height: autoResize(
      84px,
      132px,
      $landscape384,
      $landscape800
    ) !important;
  }
}

.bebasNeue132to56 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 132px;
  line-height: 132px;

  @media (max-width: $landscape800) {
    font-size: autoResize(62px, 132px, $landscape384, $landscape800) !important;
    line-height: autoResize(
      62px,
      132px,
      $landscape384,
      $landscape800
    ) !important;
  }

  @media (max-width: $landscape384) {
    font-size: autoResize(56px, 132px, $landscape320) !important;
    line-height: autoResize(56px, 132px, $landscape320) !important;
  }
}

.bebasNeue36 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 132px;
  line-height: 132px;

  @media (min-width: $landscape384) and (max-width: $landscape1200) {
    font-size: autoResize(
      36px,
      132px,
      $landscape320,
      $landscape1200
    ) !important;
    line-height: autoResize(
      36px,
      132px,
      $landscape320,
      $landscape1200
    ) !important;
  }
}

.bebasNeue13260 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 132px;
  line-height: 132px;

  font-size: autoResize(60px, 132px, $landscape384, $landscape800) !important;
  line-height: autoResize(64px, 132px, $landscape384, $landscape800) !important;
}

.gilroyBlack82 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  font-size: 82px;
  line-height: 103px;
  font-size: autoResize(52px, 82px, $landscape320, $landscape800) !important;
  line-height: autoResize(65px, 103px, $landscape320, $landscape800) !important;
}

//Projects

.interBlack2436 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;

  font-size: autoResize(16px, 36px, $landscape320, $landscape1132) !important;
  line-height: autoResize(20px, 44px, $landscape320, $landscape1132) !important;

  @media (min-width: $landscape1133) {
    font-size: autoResize(24px, 36px, $landscape1133) !important;
    line-height: autoResize(32px, 44px, $landscape1133) !important;
  }

  @media (min-width: $landscape1921) {
    font-size: autoResize(
      24px,
      36px,
      $landscape1921,
      $landscape2720
    ) !important;
    line-height: autoResize(
      32px,
      44px,
      $landscape1921,
      $landscape2720
    ) !important;
  }

  @media (min-width: $landscape3000) {
    font-size: autoResize(
      24px,
      36px,
      $landscape3000,
      $landscape3520
    ) !important;
    line-height: autoResize(
      32px,
      44px,
      $landscape3000,
      $landscape3520
    ) !important;
  }
}

.interSemiBold2436 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;

  font-size: autoResize(16px, 36px, $landscape320, $landscape1132) !important;
  line-height: autoResize(20px, 44px, $landscape320, $landscape1132) !important;

  @media (min-width: $landscape1133) {
    font-size: autoResize(24px, 36px, $landscape1133) !important;
    line-height: autoResize(32px, 44px, $landscape1133) !important;
  }

  @media (min-width: $landscape1921) {
    font-size: autoResize(
      24px,
      36px,
      $landscape1921,
      $landscape2720
    ) !important;
    line-height: autoResize(
      32px,
      44px,
      $landscape1921,
      $landscape2720
    ) !important;
  }

  @media (min-width: $landscape3000) {
    font-size: autoResize(
      24px,
      36px,
      $landscape3000,
      $landscape3520
    ) !important;
    line-height: autoResize(
      32px,
      44px,
      $landscape3000,
      $landscape3520
    ) !important;
  }
}

.interMedium1416 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.interMedium1216 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $landscape1920) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (max-width: $landscape320) {
    font-size: 8px;
    line-height: 12px;
  }
  @media (min-width: calc($landscape1200 + 1px)) and (max-width: $landscape1920) {
    font-size: autoResize(
      12px,
      16px,
      calc($landscape1200 + 1px),
      $landscape1920
    );
    line-height: autoResize(
      14px,
      20px,
      calc($landscape1200 + 1px),
      $landscape1920
    );
  }

  @media (max-width: $landscape1200) and (min-width: $landscape1133) {
    font-size: 12px;
    line-height: 14px;
  }

  @media (min-width: $landscape801) and (max-width: $landscape1132) {
    font-size: 16px;
    line-height: 20px;
  }
  @media (min-width: $landscape384) and (max-width: $landscape800) {
    font-size: autoResize(10px, 16px, $landscape384, $landscape800);
    line-height: autoResize(14px, 20px, $landscape384, $landscape800);
  }
  @media (min-width: $landscape320) and (max-width: $landscape384) {
    font-size: autoResize(8px, 10px, $landscape320, $landscape384);
    line-height: autoResize(12px, 14px, $landscape320, $landscape384);
  }
}

.interMedium2432 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  font-size: autoResize(24px, 32px, $landscape384, $landscape800) !important;
  line-height: autoResize(32px, 40px, $landscape384, $landscape800) !important;
}

.interMedium2028 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  font-size: autoResize(13px, 20px, $landscape384, $landscape800) !important;
  line-height: autoResize(18px, 28px, $landscape384, $landscape800) !important;
}

.interRegular1622 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-size: autoResize(14px, 16px, $landscape384, $landscape800) !important;
  line-height: autoResize(16px, 22px, $landscape384, $landscape800) !important;
}

.interMedium2036 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;

  font-size: autoResize(18px, 20px, $landscape384, $landscape800) !important;
  line-height: autoResize(24px, 36px, $landscape384, $landscape800) !important;
}

.interRegular2028 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  font-size: autoResize(16px, 20px, $landscape384, $landscape800) !important;
  line-height: autoResize(22px, 28px, $landscape384, $landscape800) !important;
}

.interRegular2232 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}

.interRegular2436 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  line-height: autoResize(32px, 36px, $landscape384, $landscape800) !important;
}

.interRegular2024 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  font-size: autoResize(20px, 24px, $landscape384, $landscape800) !important;
  line-height: autoResize(24px, 36px, $landscape384, $landscape800) !important;
}

.interRegular1216 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  font-size: autoResize(
    12px,
    16px,
    $maxVisibleWidth,
    $landscape1132
  ) !important;
  line-height: autoResize(
    16px,
    22px,
    $maxVisibleWidth,
    $landscape1132
  ) !important;

  @media (min-width: $landscape1133) {
    font-size: autoResize(12px, 16px, $landscape1133) !important;
    line-height: autoResize(16px, 22px, $landscape1133) !important;
  }

  @media (min-width: $landscape1921) {
    font-size: autoResize(
      12px,
      16px,
      $landscape1921,
      $landscape2720
    ) !important;
    line-height: autoResize(
      16px,
      22px,
      $landscape1921,
      $landscape2720
    ) !important;
  }

  @media (min-width: $landscape3000) {
    font-size: autoResize(
      12px,
      16px,
      $landscape3000,
      $landscape3520
    ) !important;
    line-height: autoResize(
      16px,
      22px,
      $landscape3000,
      $landscape3520
    ) !important;
  }
}

.interRegular2432 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  @media (max-width: $landscape800) {
    font-size: autoResize(24px, 32px, $landscape320) !important;
    line-height: autoResize(32px, 40px, $landscape1133) !important;
  }
}

.interRegular1824 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-size: autoResize(16px, 18px, $landscape384, $landscape800) !important;
  line-height: autoResize(22px, 24px, $landscape384, $landscape800) !important;
}

.interRegular2230 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  font-size: autoResize(16px, 22px, $landscape384, $landscape800) !important;
  line-height: autoResize(22px, 30px, $landscape384, $landscape800) !important;
}

.interMedium4048 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  @media (max-width: $landscape800) {
    font-size: autoResize(24px, 40px, $landscape384, $landscape800) !important;
    line-height: autoResize(
      32px,
      48px,
      $landscape384,
      $landscape800
    ) !important;
  }
}

.interMedium6068 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  font-size: autoResize(36px, 60px, $landscape384, $landscape800) !important;
  line-height: autoResize(44px, 68px, $landscape384, $landscape800) !important;
}
//Footer

.footerMainFont {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.footerSubtitleFont {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.pageSubtitleFont {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;

  @media (max-width: $landscape1200) {
    font-size: autoResize(36px, 64px, $landscape320, $landscape1200) !important;
    line-height: autoResize(
      44px,
      75px,
      $landscape320,
      $landscape1200
    ) !important;
  }
}

@import 'foundations.scss';

//Fonts

/* ToD/Subtitle GExBold 16 20 */

.timeZooBigTitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
}

.todSubtitleRegular {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.todSubtitleBold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
}

.toDExtraBig {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
}

.todMedium {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
}

//Documents

.docMain {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 48px;
  font-size: autoResize(32px, 44px) !important;
  line-height: autoResize(36px, 48px) !important;

  @media (max-width: $mdDevice) {
    font-size: 32px;
    line-height: 36px;
  }
}

.docTitle0 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 44px;
  font-size: autoResize(26px, 34px) !important;
  line-height: autoResize(30px, 44px) !important;

  @media (max-width: $mdDevice) {
    font-size: 26px;
    line-height: 30px;
  }
}

.docTitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  font-size: autoResize(20px, 28px) !important;
  line-height: autoResize(28px, 36px) !important;

  @media (max-width: $mdDevice) {
    font-size: 20px;
    line-height: 28px;
  }
}

.docSubtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  font-size: autoResize(16px, 18px) !important;
  line-height: autoResize(22px, 26px) !important;

  @media (max-width: $mdDevice) {
    font-size: 16px;
    line-height: 22px;
  }
}

//TimeZo fonts

.title0 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  font-size: autoResize(28px, 40px) !important;
  line-height: autoResize(32px, 48px) !important;

  @media (max-width: $mdDevice) {
    font-size: 28px;
    line-height: 32px;
  }
}

.title1 {
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  line-height: 36px;
}

.title2 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.subtitleMain {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.subtitle {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-size: autoResize(14px, 16px) !important;
  line-height: autoResize(17px, 20px) !important;
}

.subtitle0 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.subtitleSmall {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.bigTitle {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  font-size: autoResize(28px, 48px) !important;
  line-height: autoResize(32px, 52px) !important;

  @media (max-width: $mdDevice) {
    font-size: 28px;
    line-height: 32px;
  }
}

//TimeBlock
.subtitle1 {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-size: autoResize(19px, 22px, $minSize) !important;
  line-height: autoResize(22px, 26px, $minSize) !important;

  @media (max-width: $minSize) {
    font-size: 19px;
    line-height: 22px;
  }
}

.subtitle2 {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-size: autoResize(14px, 16px, $minSize) !important;
  line-height: autoResize(15px, 18px, $minSize) !important;

  @media (max-width: $minSize) {
    font-size: 14px;
    line-height: 15px;
  }
}

.subtitle3 {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-size: autoResize(10px, 12px, $minSize) !important;
  line-height: autoResize(10px, 12px, $minSize) !important;

  @media (max-width: $minSize) {
    font-size: 10px;
    line-height: 10px;
  }
}

.subtitle4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  font-size: autoResize(31px, 36px, $minSize) !important;
  line-height: autoResize(40px, 48px, $minSize) !important;

  @media (max-width: $minSize) {
    font-size: 31px;
    line-height: 40px;
  }
}

//Links fonts

.downFont {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.smallFont {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
}

//Main page fonts
.mainBigTitle {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 232px;
  line-height: 200px;
  font-size: autoResize(72px, 232px) !important;
  line-height: autoResize(72px, 200px) !important;

  @media (max-width: $maxDevice) {
    font-size: 148px;
    line-height: 124px;
  }

  @media (max-width: $miniDevice) {
    font-size: 72px;
    line-height: 72px;
  }
}

.mainSubtitle {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.mainSubtitle1 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.mainSubtitle2 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-size: autoResize(14px, 18px) !important;
  line-height: autoResize(16px, 24px) !important;

  @media (max-width: $miniDevice) {
    font-size: 14px;
    line-height: 16px;
  }
}

.mainSubtitle3 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.fontSoon {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
