@import 'foundations.scss';

//Links fonts

.latoSemibold2028 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.latoSemibold2024 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.latoSemibold2230 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  font-size: autoResize(12px, 22px, $landscape1200) !important;
  line-height: autoResize(17px, 30px, $landscape1200) !important;
}

.bebasNeue320 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 320px;
  line-height: 320px;

  font-size: autoResize(182px, 320px, $landscape1200) !important;
  line-height: autoResize(182px, 320px, $landscape1200) !important;

  @media (max-width: $landscape1133) {
    font-size: autoResize(
      148px,
      182px,
      $landscape800,
      $landscape1133
    ) !important;
    line-height: autoResize(
      148px,
      182px,
      $landscape800,
      $landscape1133
    ) !important;
  }

  @media (max-width: $landscape800) {
    font-size: autoResize(60px, 148px, $landscape320, $landscape800) !important;
    line-height: autoResize(
      60px,
      148px,
      $landscape320,
      $landscape800
    ) !important;
  }
}

.bebasNeue288 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 288px;
  line-height: 288px;
  font-size: autoResize(164px, 288px, $landscape1200) !important;
  line-height: autoResize(164px, 288px, $landscape1200) !important;

  @media (max-width: $landscape1133) {
    font-size: autoResize(
      132px,
      164px,
      $landscape800,
      $landscape1133
    ) !important;
    line-height: autoResize(
      132px,
      164px,
      $landscape800,
      $landscape1133
    ) !important;
  }

  @media (max-width: $landscape800) {
    font-size: autoResize(54px, 132px, $landscape320, $landscape800) !important;
    line-height: autoResize(
      54px,
      132px,
      $landscape320,
      $landscape800
    ) !important;
  }
}

.bebasNeue132 {
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 132px;
  line-height: 132px;

  @media (max-width: $landscape800) {
    font-size: autoResize(84px, 132px, $landscape320, $landscape800) !important;
    line-height: autoResize(
      84px,
      132px,
      $landscape384,
      $landscape800
    ) !important;
  }
}

.gilroyBlack82 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 900;
  font-size: 82px;
  line-height: 103px;
  font-size: autoResize(52px, 82px, $landscape320, $landscape800) !important;
  line-height: autoResize(65px, 103px, $landscape320, $landscape800) !important;
}

//Projects

.interBlack2436 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;

  font-size: autoResize(16px, 36px, $landscape320, $landscape1132) !important;
  line-height: autoResize(20px, 44px, $landscape320, $landscape1132) !important;

  @media (min-width: $landscape1133) {
    font-size: autoResize(24px, 36px, $landscape1133) !important;
    line-height: autoResize(32px, 44px, $landscape1133) !important;
  }

  @media (min-width: $landscape1921) {
    font-size: autoResize(
      24px,
      36px,
      $landscape1921,
      $landscape2720
    ) !important;
    line-height: autoResize(
      32px,
      44px,
      $landscape1921,
      $landscape2720
    ) !important;
  }

  @media (min-width: $landscape3000) {
    font-size: autoResize(
      24px,
      36px,
      $landscape3000,
      $landscape3520
    ) !important;
    line-height: autoResize(
      32px,
      44px,
      $landscape3000,
      $landscape3520
    ) !important;
  }
}

.interSemiBold2436 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;

  font-size: autoResize(16px, 36px, $landscape320, $landscape1132) !important;
  line-height: autoResize(20px, 44px, $landscape320, $landscape1132) !important;

  @media (min-width: $landscape1133) {
    font-size: autoResize(24px, 36px, $landscape1133) !important;
    line-height: autoResize(32px, 44px, $landscape1133) !important;
  }

  @media (min-width: $landscape1921) {
    font-size: autoResize(
      24px,
      36px,
      $landscape1921,
      $landscape2720
    ) !important;
    line-height: autoResize(
      32px,
      44px,
      $landscape1921,
      $landscape2720
    ) !important;
  }

  @media (min-width: $landscape3000) {
    font-size: autoResize(
      24px,
      36px,
      $landscape3000,
      $landscape3520
    ) !important;
    line-height: autoResize(
      32px,
      44px,
      $landscape3000,
      $landscape3520
    ) !important;
  }
}

.interMedium1216 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  font-size: autoResize(
    12px,
    16px,
    $maxVisibleWidth,
    $landscape1132
  ) !important;
  line-height: autoResize(
    14px,
    20px,
    $maxVisibleWidth,
    $landscape1132
  ) !important;

  @media (min-width: $landscape1133) {
    font-size: autoResize(12px, 16px, $landscape1133) !important;
    line-height: autoResize(14px, 20px, $landscape1133) !important;
  }

  @media (min-width: $landscape1921) {
    font-size: autoResize(
      12px,
      16px,
      $landscape1921,
      $landscape2720
    ) !important;
    line-height: autoResize(
      14px,
      20px,
      $landscape1921,
      $landscape2720
    ) !important;
  }

  @media (min-width: $landscape3000) {
    font-size: autoResize(
      12px,
      16px,
      $landscape3000,
      $landscape3520
    ) !important;
    line-height: autoResize(
      14px,
      20px,
      $landscape3000,
      $landscape3520
    ) !important;
  }
}

.interMedium2432 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  font-size: autoResize(24px, 32px, $landscape384, $landscape800) !important;
  line-height: autoResize(32px, 40px, $landscape384, $landscape800) !important;
}

.interMedium2028 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  font-size: autoResize(13px, 20px, $landscape384, $landscape800) !important;
  line-height: autoResize(18px, 28px, $landscape384, $landscape800) !important;
}

.interRegular2436 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  line-height: autoResize(32px, 36px, $landscape384, $landscape800) !important;
}

.interRegular2024 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  font-size: autoResize(20px, 24px, $landscape384, $landscape800) !important;
  line-height: autoResize(24px, 36px, $landscape384, $landscape800) !important;
}

.interRegular1216 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  font-size: autoResize(
    12px,
    16px,
    $maxVisibleWidth,
    $landscape1132
  ) !important;
  line-height: autoResize(
    16px,
    22px,
    $maxVisibleWidth,
    $landscape1132
  ) !important;

  @media (min-width: $landscape1133) {
    font-size: autoResize(12px, 16px, $landscape1133) !important;
    line-height: autoResize(16px, 22px, $landscape1133) !important;
  }

  @media (min-width: $landscape1921) {
    font-size: autoResize(
      12px,
      16px,
      $landscape1921,
      $landscape2720
    ) !important;
    line-height: autoResize(
      16px,
      22px,
      $landscape1921,
      $landscape2720
    ) !important;
  }

  @media (min-width: $landscape3000) {
    font-size: autoResize(
      12px,
      16px,
      $landscape3000,
      $landscape3520
    ) !important;
    line-height: autoResize(
      16px,
      22px,
      $landscape3000,
      $landscape3520
    ) !important;
  }
}

//Footer

.footerMainFont {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.footerSubtitleFont {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
