@import '../../styles/foundations.scss';

.button {
  position: relative;

  padding: 11px 20px 13px;

  border: $defaultBorder solid $secondBlack;
  border-radius: 24px;

  color: $secondBlack;

  background-color: transparent;

  transition: $transitionEase;

  &:hover {
    color: $white;

    background-color: $secondBlack;
  }
}

.selected {
  color: $white;

  background-color: $mainBlack;
}
