@import '../../styles/foundations.scss';

.button {
  position: relative;

  padding: 11px 20px 13px;

  border: $defaultBorder solid $mainBlack;
  border-radius: 24px;

  color: $mainBlack;

  background-color: transparent;

  transition: $transitionEase;

  &:hover:not(.selected) {
    border-color: $yellow50;
    background-color: $yellow50;
  }

  @media (hover: none) {
    &:hover:not(.selected) {
      border-color: inherit;
      background-color: inherit;
    }
  }
}

.selected {
  border-color: $yellow100;
  background-color: $yellow100;
}
