@import '../../../styles/foundations.scss';

.button {
  position: relative;

  padding: autoResize(8px, 12px, $landscape384, $landscape800)
    autoResize(12px, 20px, $landscape384, $landscape800);
  border-radius: autoResize(15.374px, 24px, $landscape384, $landscape800);
  @media (max-width: $landscape800) {
    box-shadow: none !important;
  }
  color: $mainBlack;
  background-color: $greyPlate;

  transition: $transitionEase;

  &:hover:not(.selected) {
    background-color: $halfYellow;
  }

  @media (hover: none) {
    &:hover:not(.selected) {
      box-shadow: none;
      border-color: inherit;
      background-color: inherit;
    }
  }
}

.selected {
  background-color: $accentYellow;
}
