@import '../../../styles/foundations.scss';

.button {
  position: relative;

  padding: autoResize(8px, 12px, $landscape384, $landscape800)
    autoResize(12px, 20px, $landscape384, $landscape800);

  border: autoResize(1px, $defaultBorder, $landscape384, $landscape800) solid
    $mainBlack;
  border-radius: autoResize(15.374px, 24px, $landscape384, $landscape800);

  color: $mainBlack;

  background-color: transparent;

  transition: $transitionEase;

  &:hover:not(.selected) {
    border-color: $yellow50;
    background-color: $yellow50;
  }

  @media (hover: none) {
    &:hover:not(.selected) {
      border-color: inherit;
      background-color: inherit;
    }
  }
}

.selected {
  border-color: $yellow100;
  background-color: $yellow100;
}
