@import '../../styles/foundations.scss';

.container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: -16px;
  .fileName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 32px;
    background-color: $mainBlack;
    border-radius: 16px;
    gap: 10px;
    padding: 8px 16px;

    span {
      color: $white;
    }

    .removeBtn {
      height: 18px;
      width: 18px;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      border-radius: 50%;
      background-color: $mainBlack;

      transition: $transitionEase;
      cursor: pointer;
      &:hover {
        background-color: $mainBlack;
      }
    }
  }

    input {
      display: none;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 106px;
      height: 32px;
      background-color: $accentYellow;
      border-radius: 16px;
      cursor: pointer;
  

      color: $mainBlack;
    }
  
}
