@import '../../styles/foundations.scss';

.container {
  width: fit-content;
  .fileName {
    margin-bottom: 4px;

    display: flex;

    gap: 8px;

    span {
      color: $mainBlack;
    }

    .removeBtn {
      height: 18px;
      width: 18px;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      border-radius: 50%;
      background-color: $mainBlack;

      transition: $transitionEase;

      &:hover {
        background-color: $secondBlack;
      }
    }
  }

  input {
    display: none;
  }

  label {
    display: block;

    color: $blue100;
  }
}
