@import '../../styles/foundations.scss';

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $landscape800) {
    background-color: $yellow100;
  }

  .ourAppBtn {
    width: 136px;
    height: 136px;

    position: absolute;
    bottom: 20px;
    background-color: transparent;
  }

  .content {
    position: relative;

    height: 414px;
    width: 1426px;

    height: autoResize(77px, 192px, $landscape320, $landscape800) !important;
    width: autoResize(267.79px, 661px, $landscape320, $landscape800) !important;

    @media (min-width: $landscape800) {
      height: autoResize(
        192px,
        236px,
        $landscape800,
        $landscape1133
      ) !important;
      width: autoResize(661px, 823px, $landscape800, $landscape1133) !important;
    }

    @media (min-width: $landscape1200) {
      height: autoResize(
        236px,
        414px,
        $landscape1200,
        $landscapeFHD
      ) !important;
      width: autoResize(
        823px,
        1426px,
        $landscape1200,
        $landscapeFHD
      ) !important;
    }

    .circle {
      position: absolute;

      bottom: autoResize(-60px, -93px, $landscape1200) !important;
      right: autoResize(-80px, -100px, $landscape1200) !important;

      height: 393px;
      width: 393px;

      height: autoResize(393px, 667px, $landscape1200) !important;
      width: autoResize(393px, 667px, $landscape1200) !important;

      border-radius: 50%;

      background-color: $yellow100;

      @media (max-width: $landscape800) {
        display: none;
      }
    }

    h1,
    h2 {
      text-transform: uppercase;
    }

    h1 {
      position: relative;

      text-align: left;
      color: $mainBlack;
    }

    &__subtext {
      position: absolute;

      top: autoResize(72px, 126px, $landscape1200) !important;
      right: 0;

      text-align: right;
      color: $white;

      -webkit-text-stroke: 2px $mainBlack;

      @media (max-width: $landscape1133) {
        top: autoResize(68px, 72px, $landscape800, $landscape1133) !important;
      }

      @media (max-width: $landscape800) {
        top: autoResize(27px, 68px, $landscape320, $landscape800) !important;
      }

      img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 100%;
        height: auto;
      }
    }

    span {
      position: absolute;

      width: autoResize(379px, 646px, $landscape1200);

      left: autoResize(7px, 12px, $landscape1200);
      bottom: autoResize(32px, 56px, $landscape1200);

      color: $mainBlack;

      @media (max-width: $landscape800) {
        display: none;
      }

      @media (max-width: $landscape1133) {
        width: autoResize(300px, 379px, $landscape800, $landscape1133);
        bottom: autoResize(18px, 32px, $landscape800, $landscape1133);
      }
    }
  }
}
