@import '../../../styles/foundations.scss';

.container {
  width: 100%;

  transition: $transitionEase;
  border-radius: $mainRadius;
  @media (min-width: $landscape420) {
    &:hover {
      background-color: rgba(214, 214, 214, 0.25);
    }
  }

  .aspectRation {
    padding-top: 117.5%;
  }

  .gradient {
    position: absolute;
    border-radius: $mainRadius;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    margin: 7% 9.6%;

    background: var(--gradient);

    @media (max-width: $landscape800) {
      border-radius:  autoResize(20px, $mainRadius, $landscape384, $landscape800);
    }
    @media (max-width: $landscape384) {
      border-radius:  autoResize(16px, 20px, $landscape320, $landscape384);
    }
  }

  .content_wrapper {
    position: absolute;

    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    padding: 7% 9.6%;

    .content {
      position: relative;

      height: 100%;
      padding: 7.8% 12.5% 0 8.75%;
      @media (min-width: $landscape500) {
        padding-left: 8.5% !important;
      }

      background: var(--gradient);

      &__title {
        margin-bottom: 3.09%;

        h6 {
          display: inline;
        }
      }

      &__tags {
        display: flex;
        flex-wrap: wrap;

        max-width: 100%;

        margin-bottom: 4.3%;

        // @media (max-width: $maxVisibleWidth) {
        //   display: none;
        // }

        gap: autoResize(8.5px, 12px, $maxVisibleWidth, $landscape800);

        @media (min-width: $landscape1133) {
          gap: autoResize(7.5px, 12px, $landscape1133);
        }

        @media (min-width: $landscape1921) {
          gap: autoResize(7.5px, 12px, $landscape1921, $landscape2720);
        }

        @media (min-width: $landscape3000) {
          gap: autoResize(10px, 12px, $landscape3000, $landscape3520);
        }

        div {
          display: flex;
          padding: 6px 8px 6px 8px;

          border-radius: autoResize(110.467px, 156px, $landscape801);

          // @media (max-width: $maxVisibleWidth) {
          //   display: none;
          // }

          @media (min-width: calc($landscape1200 + 1px)) and (max-width: $landscape1920) {
            padding: autoResize(
              7.5px,
              11px,
              calc($landscape1200 + 1px),
              $landscape1920
            );
          }

          @media (max-width: $landscape1200) and (min-width: $landscape1133) {
            padding: 7.5px;
          }

          @media (min-width: $landscape801) and (max-width: $landscape1132) {
            padding: 11px;
          }
          @media (min-width: $landscape384) and (max-width: $landscape800) {
            padding: autoResize(6px, 11px, $landscape384, $landscape800)
              autoResize(8px, 11px, $landscape384, $landscape800);
          }
          @media (min-width: $landscape1920) {
            padding: 11px;
          }

          @media (max-width: $landscape1132) {
            border-radius: autoResize(
              110.467px,
              156px,
              $maxVisibleWidth,
              $landscape800
            );
          }

          @media (max-width: $landscapeFHD) {
            border-radius: autoResize(100.467px, 156px, $landscape1133);
          }

          @media (max-width: $landscape2999) {
            border-radius: autoResize(
              100.467px,
              156px,
              $landscapeFHD,
              $landscape2720
            );
          }

          @media (min-width: $landscape3000) {
            border-radius: autoResize(
              120.467px,
              156px,
              $landscape3000,
              $landscape3520
            );
          }
        }
      }
    }

    p {
      @media (max-width: $landscape480) {
        display: none;
      }
    }
  }

  img {
    position: absolute;

    right: 0;
    bottom: 0;

    height: auto;
    max-height: 100%;
    width: 100%;
  }
}
.darkBorder {
  border: 1px solid rgba(0, 0, 0, 0.6);
  @media (min-width: $landscape800) {
    border-color: black !important;
  }
}

.whiteBorder {
  border: 1px solid rgba(255, 255, 255, 0.6);
  @media (min-width: $landscape800) {
    border-color: white !important;
  }
}
