@import "../../styles/foundations.scss";

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: block;

  padding-top: 40px;

  .logo {
    position: relative;

    height: 52px;
    width: 52px;

    margin-left: 64px;

    cursor: pointer;

    @media (max-width: $landscape1133) {
      margin-left: autoResize(
        44px,
        64px,
        $landscape800,
        $landscape1133
      ) !important;
    }

    img {
      position: relative;
      height: 100%;
      width: auto;
    }
  }
}

.menu {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  margin-top: 53px;

  @media (max-width: $landscape800) {
    display: none;
  }

  li {
    cursor: pointer;
  }

  :not(:last-child) {
    margin-right: 40px;
  }
}
