@import "../../styles/foundations.scss";
:root {
  --header-index: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $index10;
  color: $mainBlack;

  @media (max-width: $landscape800) {
    z-index: var(--header-index);
  }
  .animatedBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 64px 0;
    @media (max-width: $landscape1133) {
      padding: 40px autoResize(44px, 64px, $landscape800, $landscape1133) 0 !important;
    }

    @media (max-width: $landscape800) {
      padding: autoResize(36px, 40px, $landscape384, $landscape800)
        autoResize(24px, 44px, $landscape384, $landscape800) 0 !important;
    }
    .logo {
      height: autoResize(44px, 52px, $landscape384, $landscape800) !important;
      width: autoResize(44px, 52px, $landscape384, $landscape800) !important;

      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;

      -webkit-transform: translateZ(0);
      z-index: $index10;
      cursor: pointer;
      @media (max-width: $landscape768) {
        height: $logoHeightMin;
        width: $logoHeightMin;
      }

      svg {
        height: 100%;
        width: 100%;

        position: absolute;

        transition: opacity $transition150;
      }

      @media (max-width: $landscape800) {
        .iconMain {
          opacity: 1;
        }

        .iconGradient {
          opacity: 0;
        }
        &:hover {
          .iconMain {
            opacity: 1 !important;
          }

          .iconGradient {
            opacity: 0 !important;
          }
        }
      }
      .iconMain {
        opacity: 1;
      }

      .iconGradient {
        opacity: 0;
      }

      &:hover {
        .iconMain {
          opacity: 0;
        }

        .iconGradient {
          opacity: 1;
        }
      }
    }
  }
}
.middleBtn_wrapper {
  @media (max-width: $landscape800) {
    display: none;
  }
}

.blackIcon {
  transition: opacity 0;
  color: $mainBlack !important;
  opacity: 1;
  &:hover {
    color: $mainBlack !important;
    opacity: 1;
  }
}
