@import '../../styles/foundations.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 100px;
}

.container {
  width: 100%;

  margin-top: 180px;

  padding: 0 9.6%;

  & > div {
    display: none;
  }

  @media (max-width: $landscape800) {
    margin-top: autoResize(
      140px,
      180px,
      $landscape384,
      $landscape800
    );
  }

  @media (min-width: $landscape1133) {
    padding-left: autoResize(
      54.383px,
      236.797px,
      $landscape1133,
      $landscapeFHD
    );
  }

  @media (min-width: $landscape1921) {
    padding-left: autoResize(
      211.227px,
      245.727px,
      $landscape1921,
      $landscape2999
    );
  }

  @media (min-width: $landscape3000) {
    padding-left: autoResize(224.313px, 392.289px, $landscape3000, 9999px);
  }

  .header {
    color: $mainBlack;
    text-transform: uppercase;
    // margin-bottom: autoResize(20px, 28px, $landscape384, $landscape800);
  }
}
