@import '../../../styles/foundations.scss';

.container {
  display: flex;

  justify-content: center;

  color: $mainBlack;
  text-transform: uppercase;

  padding-top: autoResize(12px, 20px, $landscape384, $landscape800);
  padding-bottom: autoResize(8px, 12px, $landscape384, $landscape800);

  transition: background-color $transitionEase;
  cursor: pointer;
}

.selected {
  background-color: $accentYellow;
}
