@import '../../../styles/foundations.scss';

.container {
  display: flex;

  justify-content: center;

  color: $mainBlack;
  cursor: pointer;
  text-transform: uppercase;

  padding-top: autoResize(12px, 20px, $landscape384, $landscape800);

  transition: background-color $transitionEase;
}

.selected {
  background-color: $yellow100;
}
