@import '../../styles/foundations.scss';

.footer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 64px 28px;

  color: $white;

  background-color: $secondBlack;

  a {
    cursor: pointer;
  }

  & > svg {
    & > * {
      fill: $white;
    }

    @media (max-width: $landscape800) {
      display: none;
    }
  }

  @media (max-width: $landscape800) {
    flex-direction: column-reverse;

    padding: 40px 0 28px;
  }
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;

  padding-top: 56px;

  text-align: center;

  @media (max-width: $landscape800) {
    margin-top: 40px;
    padding-top: 0;
  }

  p {
    cursor: default;
  }

  &__links {
    display: flex;

    gap: 24px;

    margin-bottom: 24px;

    @media (max-width: $landscape800) {
      flex-direction: column;
    }

    a {
      color: inherit;
    }
  }
}

.social {
  display: flex;
  gap: 20px;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  :focus {
    outline: none !important;
  }
}
