@import "../../../../styles/foundations.scss";
@import "../../styles/generalStyles.scss";

.firstBackground,
.secondBackground {
  height: 100%;

  position: absolute;
  display: flex;

  img {
    width: auto;

    margin: auto;
  }

  @media (max-width: $tabletWidth) {
    display: none;
  }
}

.firstBackground {
  left: 0;

  img {
    max-height: 100%;
  }
}

.secondBackground {
  right: 0;

  img {
    max-height: 40%;

    margin-bottom: 42px;
  }
}
