@import '../../styles/foundations.scss';

$landscape384: 384px;
$landscape800: 800px;
$landscape1133: 1133px;

.header {
  width: 100%;

  display: flex;
  align-items: flex-end;

  position: fixed;

  padding: 40px autoResize(44px, 64px, $landscape800, $landscape1133) 0 !important;

  @media (max-width: $landscape800) {
    padding: autoResize(36px, 40px, $landscape384, $landscape800)
      autoResize(24px, 44px, $landscape384, $landscape800) 0 !important;
  }

  z-index: 2;

  .logo {
    height: autoResize(44px, 52px, $landscape384, $landscape800) !important;
    width: autoResize(44px, 52px, $landscape384, $landscape800) !important;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    -webkit-transform: translateZ(0);

    @media (max-width: $miniDevice) {
      height: $logoHeightMin;
      width: $logoHeightMin;
    }

    svg {
      height: 100%;
      width: 100%;

      position: absolute;

      transition: opacity $transition150;
    }

    .iconMain {
      opacity: 1;
    }

    .iconGradient {
      opacity: 0;
    }

    &:hover {
      .iconMain {
        opacity: 0;
      }

      .iconGradient {
        opacity: 1;
      }
    }
  }
}
