@import '../../styles/foundations.scss';

.container {
  width: 33.489583%;

  padding-left: autoResize(0px, 160px, $landscape1200, $landscapeFHD);
  @media (min-width: $landscapeFHD) {
    padding-left: 8.333%;
  }

  @media (max-width: $landscape1200) {
    width: 100%;
    background-color: $yellow100;
    padding: 96px 64px;
  }

  @media (max-width: $landscape384) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0;
  }

  .contacts {
    p {
      margin-bottom: autoResize(8px, 12px, $landscape384, $landscape800);
    }

    a + p {
      margin-top: autoResize(24px, 56px, $landscape384, $landscape800);
    }
  }

  a {
    color: $blue100;

    @media (max-width: $landscape1200) {
      text-decoration: underline;
      color: $secondBlack;
    }
  }
}
