$neutural100: #e2e2e2;
$accent: #2d5dd9;
$timeZo: #ffffff;
$white: #ffffff;
$main: #2c2f36;
$textSecond: #8e98a2;
$textBody: #6b6b6b;
$yellow: #ECCA19;
$textBlack: #323232;
$grey: #9c9c9c;
$mainPage: #F5F5F5;
$neutral300: #DBDBDB;
$neutral900: #212121;
$neutral700: #616161;
