// Size
$tabletWidth: 900px;
$phoneWidth: 420px;

// Border
$borderRadius: 4px;
$defaultBorder: 1px;

// Transition
$transition150: 150ms ease;

//Endpoint
$miniDevice: 768px;
$mdDevice: 833px;
$minSize: 920px;
$lgDevice: 1130px;
$maxDevice: 1920px;
$footerPoint: 600px;

//Footer
$footerHeightLg: 148px;
$footerHeightMob: 201px;

//Header
$logoHeightMax: 52px;
$logoHeightMin: 36px;
$headerHeightMax: 92px;
$headerHeightMin: 64px;
